h1 {
  color: red
  text-align: center;
}

h2 {
  color: lightcoral;
  text-align: center;
  font-size: 30px;
}

p {
  Color: green;
}

body {
  background-color: rgb(241, 235, 141)
}

ul {
  color: red;
}